.card {
    //width: 100px;
    //height: 150px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    margin: 7px;
    /* Add margin around card */

    .front {
        // display: none; // to show nothing
        background-color: #fff;
        color: #000;
    }

    .back {
        background-color: #0c0b0b;
    }


    cursor: pointer;
    /* Add cursor pointer to indicate clickable */

    // &.highlight-playable {        
    //     outline: 2px solid rgb(217, 255, 0);
    //     box-shadow: 0 0 5px 3px #00ff2a;
    // }

    &.highlight-playable {
        animation: pulsate-border 4s infinite;
    }

    @keyframes pulsate-border {
        0% {
            outline-width: 0;
            box-shadow: none;
        }

        50% {
            outline-width: 2px;
            // Outline doesn't affect the size or position of the element.
            // It is drawn on top of the element's content, padding, and border. 
            // outline: 2px solid rgb(0, 255, 42);
            box-shadow: 0 0 5px 3px #00ff2a;
        }

        100% {
            outline-width: 0;
            box-shadow: none;
        }
    }

    &.lift-on-hover {
        &:hover {
            transform: translateY(-7px);
            /* Lift up the card on hover */
            transition: transform 0.2s ease;
            outline: 2px solid red;
            box-shadow: 0 0 5px 3px #ffbf00;
        }
    }

    &.staged {
        transform: translateY(-15px);
        box-shadow: 0 0 5px 2px #e2e1dc;
    }


}