<div class="current-game">
    <div class="computer-cards">
        <div class="card" *ngFor="let card of computerCards" (click)="toggleCardFaceUp(card)">
            <app-card [card]="card"></app-card>
        </div>
    </div>

    <div class="discard-stack">
        <app-card [card]="discardPile[discardPile.length - 1]"></app-card>
    </div>

    <div class="player-cards">
        <div class="card" *ngFor="let card of playerCards" 
            [class.highlight]="isHighlighted(card)"
            (click)="playCard(card)"
            (mouseenter)="setHighlightedCard(card)"
            (mouseleave)="setHighlightedCard(null)"
        >
            <app-card [card]="card"></app-card>
        </div>
    </div>
</div>