.current-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 40px);
    /* Subtract the header and footer height */

    .computer-cards,
    .player-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        /* Add margin for spacing */

        .card-container {
          
            &.highlight {
                outline: 2px solid red;
            }
        }


        & .highlight {
            box-shadow: 0 0 5px 3px #ffbf00;
            /* Add highlight effect */
        }
    }

    .discard-stack {
        width: 80px;
        height: 120px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
    }

}