.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    mat-form-field {
        margin-bottom: 16px;
    }

    // The [class.mat-form-field-invalid] directive adds a red border to invalid fields when they are dirty or touched. The mat-error elements display error messages based on the control's validation state.
    .mat-form-field-invalid {
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                .mat-form-field-underline {
                    background-color: red;
                }

                .mat-form-field-ripple {
                    background-color: red;
                }
            }
        }
    }

    button {
        margin-top: 10px;
    }

    button[type="submit"] {
        margin-bottom: 10px;
    }
}