
.header-section {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    /* Add margin to create space between the content and the header */
}

main {
    flex: 1;
    border: 1px solid #34c4d7;
    margin: 10px;
}

.footer-section {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    /* Add margin to create space between the content and the footer */
}