<mat-toolbar color="primary" class="header-section">
    <span>{{title}}</span>
    <span class="spacer"></span>
    <nav class="toolbar">
        <button mat-button *ngIf="isUserLoggedIn()" (click)="logout()">Logout</button>
    </nav>
</mat-toolbar>

<main>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Home">
            <router-outlet *ngIf="currentPath === TAB_PATHS[0]"></router-outlet>
        </mat-tab>
        <mat-tab label="Personal">
            <router-outlet *ngIf="currentPath === TAB_PATHS[1]"></router-outlet>
        </mat-tab>
        <mat-tab label="Arena">
            <router-outlet *ngIf="currentPath === TAB_PATHS[2]"></router-outlet>
        </mat-tab>
        <mat-tab label="About">
            <router-outlet *ngIf="currentPath === TAB_PATHS[3]"></router-outlet>
        </mat-tab>
    </mat-tab-group>
</main>

<mat-toolbar color="primary" class="footer-section">
    <span>&copy; 2023 Olf App. All rights reserved.</span>
</mat-toolbar>