<mat-toolbar color="primary" class="header-section">
    <span>{{title}}</span>
    <div class="tabs">
        <button class="tab-button" [class.active]="currentPath === TAB_PATHS[0]"
            (click)="selectTab(TAB_PATHS[0])">Home</button>
        <button class="tab-button" [class.active]="currentPath === TAB_PATHS[1]"
            (click)="selectTab(TAB_PATHS[1])">Personal</button>
        <button class="tab-button" [class.active]="currentPath === TAB_PATHS[2]"
            (click)="selectTab(TAB_PATHS[2])">Arena</button>
        <button class="tab-button" [class.active]="currentPath === TAB_PATHS[3]"
            (click)="selectTab(TAB_PATHS[3])">About</button>
    </div>
    <span class="spacer"></span>
    <nav class="toolbar">
        <button mat-button *ngIf="!isUserLoggedIn()" (click)="redirectToLogin()">Login</button>
    </nav>
    <nav class="toolbar">
        <button mat-button *ngIf="isUserLoggedIn()" (click)="logout()">Logout</button>
    </nav>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>

<mat-toolbar color="primary" class="footer-section">
    <span>&copy; 2023 Olf App. All rights reserved.</span>
</mat-toolbar>