/* Add spacing for the entire application */
body {
    margin: 10px;
}

.header-section {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    /* Add margin to create space between the content and the header */
}

.footer-section {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    /* Add margin to create space between the content and the footer */
}