<mat-toolbar color="primary" class="header-section">
    <span>{{title}}</span>
    <div class="tabs">
        <button class="tab-button" [class.active]="selectedTab === tabsEnum.HOME"
            (click)="selectTab(tabsEnum.HOME)">Home</button>
        <button class="tab-button" [class.active]="selectedTab === tabsEnum.PERSONAL"
            (click)="selectTab(tabsEnum.PERSONAL)">Personal</button>
        <button class="tab-button" [class.active]="selectedTab === tabsEnum.ARENA"
            (click)="selectTab(tabsEnum.ARENA)">Arena</button>
        <button class="tab-button" [class.active]="selectedTab === tabsEnum.ABOUT"
            (click)="selectTab(tabsEnum.ABOUT)">About</button>
    </div>
    <span class="spacer"></span>
    <nav class="toolbar">
        <button mat-button *ngIf="!isUserLoggedIn()" (click)="redirectToLogin()">Login</button>
    </nav>
    <nav class="toolbar">
        <button mat-button *ngIf="isUserLoggedIn()" (click)="logout()">Logout</button>
    </nav>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>

<mat-toolbar color="primary" class="footer-section">
    <span>&copy; 2023 Olf App. All rights reserved.</span>
</mat-toolbar>