.current-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 200px);
    /* Subtract the header and footer height */

    .back-button-container {
        align-self: flex-start;
        width: 100%;
        padding: 10px 20px;
    }

    .back-button {
        font-size: 16px;
        background-color: #007BFF;
        color: white;
        text-transform: none;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px 16px;
        margin-bottom: 20px;

        mat-icon {
            margin-right: 8px;
        }

        &:hover {
            background-color: #0056b3;
        }
    }


    .focused-opponent-cards,
    .player-cards,
    .discard-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin: 10px;
        border: solid 1px #c12baa;
        width: 100%;
    }


    // note that we assume player-cards to be a flexbox container
    // and "card-container" a flexbox item of this container
    // (meaning it must be on a direct child element)
    .player-cards .card-container {
        align-self: stretch;
        flex-basis: 7%;
        /* maximum is 13 cards, 100%/13 ~ 7.7% */
        border: solid 1px #c12baa;
    }

    .discard-stack {
        width: 80px;
        height: 120px;
        background-color: #f2f2f2;
    }

    .action-button {
        margin: 10px;
        min-width: 100px;
    }

    .top-section {
        display: flex;
        justify-content: center;
        /* Center the items horizontally */
        align-items: center;
        /* Align items vertically in the center */
        width: 100%;
        /* Take full width of the container */
    }

    .arrow-container {
        cursor: pointer;
        padding: 0 20px;
        font-size: 2em;
    }

    .move-container {
        display: block;
        padding: 5px;
    }
}