<h3>Upcoming Games</h3>
<table>
    <tr>
        <th>Creator</th>
        <th>Created at</th>
        <th>Invited Players</th>
        <th>Required Action</th>
    </tr>
    <tr *ngFor="let invitationStatus of invitationStatuses; let i = index"
        [ngClass]="{'pulsating-row-border': isInvitationPulsating[i]}">
        <td>{{ invitationStatus.invitation.creator.name }}</td>
        <td>{{ invitationStatus.invitation.createdAt.toLocaleString() }}</td>
        <td>{{ invitationStatus.getPlayersString() }}</td>
        <td (click)="handleActionClick(invitationStatus)"
            [class.clickableTableCell]="canCurrentUserAct(invitationStatus)">
            {{ requiredActions(invitationStatus) }}
        </td>
        <!-- TODO: cancel action for creator? -->
    </tr>
</table>