/* Ensure content is centralized in their grid cell */
table {
    margin: auto;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #ddd;
}

.clickableTableCell:hover {
    cursor: pointer;
    background-color: rgba(15, 160, 192, 0.2);
    /* Light blue background on hover */
    box-shadow: 0 0 0 3px rgba(23, 101, 203, 0.5) inset;
    /* Simulates a border */
}

.pulsating-row-border {
    border: 2px solid lightblue;
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px 0 rgba(173, 216, 230, 0.7);
    }

    50% {
        box-shadow: 0 0 20px 5px rgba(173, 216, 230, 0.7);
    }

    100% {
        box-shadow: 0 0 5px 0 rgba(173, 216, 230, 0.7);
    }
}