<div class="dashboard-container">
  <h2>Welcome, {{ user.name }}!</h2>

  <!-- Grid Layout Container -->
  <div class="grid-layout">

    <app-user-table [userGameStatistics]="userGameStatistics">
    </app-user-table>

    <app-upcoming-games-table [invitationStatuses]="invitationStatuses" [isInvitationPulsating]="isInvitationPulsating"
      (onBackendUpdateCompleted)="fetchFreshData()"></app-upcoming-games-table>

    <app-finished-games-table [finishedGames]="finishedGames"></app-finished-games-table>

    <app-open-games-table [openGames]="openGames"></app-open-games-table>
  </div>

  <button mat-raised-button color="primary" (click)="startNewGame()">New Game</button>
</div>