<h2>New Game</h2>


<!-- "Added Players" table -->
<div class="table-container">
    <table mat-table [dataSource]="addedPlayersDataSource" class="mat-elevation-z8">
        <!-- Column Definitions: only has one column, namely the added players -->
        <ng-container matColumnDef="players">
            <th mat-header-cell *matHeaderCellDef> Added Players </th>
            <td mat-cell *matCellDef="let element">
                {{ element }}
            </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="['players']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['players'];"></tr>
    </table>
</div>

<!-- "Username Input" form field -->
<form [formGroup]="form" class="form-container">
    <button mat-raised-button color="primary" class="add-button" (click)="addPlayerByUsername()"
        [disabled]="isAddPlayersDisabled">
        <mat-icon>arrow_upward</mat-icon> Add Player
    </button>
    <mat-form-field class="full-width-form-field">
        <input type="text" placeholder="Type for suggestions" matInput [matAutocomplete]="auto"
            formControlName="{{ FORM_FIELD_USERNAME }}">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelection($event)">
            <mat-option *ngFor="let option of autoCompleteOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>


<!-- Submit/Cancel buttons -->
<div class="buttons-container">
    <button mat-raised-button color="primary" (click)="submitGame()">Submit</button>
    <button mat-raised-button #cancelButton (click)="cancel()">Cancel</button>
</div>