/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
@include mat-core();

// extract color from theme
$primary: mat-palette($mat-indigo);

#holygrail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    min-height: 100vh;
    border: 3px solid #b71313;
}

// for debugging
// * {
//     outline: 1px solid red;
// }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// to add border around mat modal dialog use
// this class for the 'panelClass' option of
// this.matDialog.open(...)
.custom-modal-container {
    mat-dialog-container {
        padding: 0;
        border: 2px solid mat-color($primary);
        border-radius: 7px;
    }
}