<div class="home-container">
  <h2>Welcome, {{ user.name }}!</h2>

  <!-- Grid Layout Container -->
  <div class="grid-layout">

    <app-user-table [userGameStatistics]="userGameStatistics">
    </app-user-table>

    <app-upcoming-games-table [invitationStatuses]="invitationStatuses"></app-upcoming-games-table>

    <app-finished-games-table [finishedGames]="finishedGames"></app-finished-games-table>

    <app-open-games-table [openGames]="openGames"></app-open-games-table>
  </div>

  <button class="btn btn-primary" (click)="startNewGame()">New Game</button>
</div>