.home-container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* Adjust the gap between the columns and rows */
}

.user-info-container,
.upcoming-games-container,
.finished-games-container,
.open-games-container {
  flex: 1;
  text-align: center;
  /* Center the tables within their containers */
}

/* Additional styling to ensure content is centralized in their grid cell */
table {
  margin: auto;
}

.user-info {
  margin-top: 20px;
  text-align: left;
  width: fit-content;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #ddd;
}

button {
  margin-top: 20px;
}

// The simplest way to get a border is: border: 10px solid;
// However, this changes the dimension of the table row and
// affects the table header to adapt.
// To simulate a border effect and maintain 
// the original dimensions of the table row, we can use
// box-shadow instead.
// This approach doesn't affect the box model's 
// size calculations and therefore won't cause 
// adjacent elements to shift
.clickableTableRow:hover {
  cursor: pointer;
  background-color: rgba(15, 160, 192, 0.2);

  /* Simulates a border */
  box-shadow: 0 0 0 3px rgba(23, 101, 203, 0.5) inset;
}