.home-container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* Adjust the gap between the columns and rows */
}

.user-table-container,
.upcoming-games-container,
.finished-games-container,
.open-games-container {
  flex: 1;
  text-align: center;
  /* Center the tables within their containers */
}

button {
  margin-top: 20px;
}