<div class="home-content">
    <h1>Welcome to Olf</h1>
    <p class="slogan">Easy to learn, hard to master</p>

    <img src="assets/images/olf_logo.png" alt="Olf Logo" class="logo-image">

    <mat-card class="intro-card">
        <mat-card-header>
            <mat-card-title>Introducing Olf</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Olf is a new and highly tactical card game that will challenge even the most seasoned players. Whether
                you're playing against friends or taking on the computer, Olf requires strategic thinking and careful
                planning.</p>
            <p>Our unique game comes with a twist: once the cards are dealt, they must remain in their original order.
                This restriction adds a new layer of complexity and innovation, making each game a fresh and exciting
                challenge.</p>
            <p>Prepare to engage your mind and hone your skills, because in Olf, every move counts. Start your journey
                today and see if you have what it takes to master Olf!</p>
        </mat-card-content>
    </mat-card>
</div>