.home-container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* Adjust the gap between the columns and rows */
}

button {
  margin-top: 20px;
}